.container {
  padding: 15px;
  font-size: 1rem;
}

@media screen and (max-width: 425px) {
  .container {
    padding: 15px 0px;
  }
}

.groupSection {
  /* border: 1px solid black; */
  padding: 0 20px;
}

@media screen and (max-width: 425px) {
  .groupSection {
    /* border: 1px solid black; */
    padding: 0 10px;
  }
}

.groupHeader {
  /* border: 1px solid black; */
  padding: 10px 10px;
}

@media screen and (max-width: 425px) {
  .groupHeader {
    /* border: 1px solid black; */
    padding: 10px 0;
  }
}

.dropIcon {
}

.folderBody {
  overflow-y: clip;
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

@media screen and (max-width: 425px) {
  .folderBody {
    justify-items: center;
    padding: 30px 10px;
  }
}

.folderItem {
  border: 1px solid #afadad;
  font-size: 1em;
  height: 100%;
  padding: 10px;
  gap: 10px;
  max-width: 200px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 35px 1fr 30px;
  box-shadow: 0 0 3px 1px #919191;
}

.folderItem:hover {
  box-shadow: 0 0 3px 1px #c40505;
}

@media screen and (max-width: 425px) {
  .folderItem {
    width: 100%;
    max-width: 280px;
  }
}

.folderIcon {
  font-size: 2em;
  color: #505050;
}

.folderName {
  word-break: break-all;
}

.picCount {
  background-color: #a09e9e;
  height: 30px;
  width: 30px;
  color: white;
  border-radius: 50%;
  font-size: 0.8em;
  font-weight: 800;
}

.galleryHolder {
  /* border: 1px solid black; */
  overflow-y: clip;
}

.upArrow {
  transform: rotate(-90deg);
  transition: transform 0.2s ease-in-out;
}

.downArrow {
  transform: rotate(0);
  transition: transform 0.2s ease-in-out;
}

.show {
  max-height: 100%;
}

.hide {
  padding: 0;
  max-height: 0;
}
