.container {
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .container {
    font-size: 0.8rem;
  }
}

.picPage {
  overflow: hidden;
}

.navbar {
  padding: 0.625em 1.25em;
  background-color: #e4e4e4;
  height: 60px;
  border-bottom: 1px solid #c7c7c7;
  gap: 20px;
}

.picName {
  height: 80%;
  width: 100px;
  font-size: inherit;
  padding: 0 10px;
  background-color: inherit;
  word-break: break-all;
  width: 100%;
  max-width: 500px;
  border: none;
}

.inputFocus {
  border: 1px solid #838383;
  border-radius: 5px;
  outline: none;
}

.btnGroup {
  gap: 30px;
}

@media screen and (max-width: 425px) {
  .btnGroup {
    gap: 10px;
  }
}

.btn {
  height: 40px;
  gap: 10px;
  padding: 0.4em 0.7em;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: #fffdfd;
  font-family: inherit;
  font-size: 0.9em;
}

@media screen and (max-width: 768px) {
  .btn {
    height: 30px;
  }
}

.btn:hover {
  background-color: #e21111;
  color: white;
}

@media screen and (max-width: 425px) {
  .btnText {
    display: none;
  }
}

.viewer {
  overflow: auto;
  padding: 20px;
}

.picImgHolder {
  border: 3px dashed #c7c7c7;
  /* border-color: red; */
}

.viewer,
.picImgHolder {
  min-height: 50vh;
}

.picImg,
.picImgHolder {
  width: 100%;
  height: 100%;
}

.picImg {
  object-fit: cover;
  object-position: center;
}

.loadingIcon{
  font-size: 2em;
  color: #f13838;
}

.picHeight {
  min-height: 0;
}
