.content {
  height: 100vh;
  width: 100%;
  background-image: url('../Images/pic10.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: #ffffff70;
  color: white;
  flex-wrap: wrap;
}

.logo-big {
  font-size: 5em;
  font-weight: 800;
  color: #f72121;
}

.brand-text {
  color: #4e4e4e;
  font-weight: 800;
}

.banner {
  flex-grow: 2;
  /* border: 1px solid black; */
}

.form-holder {
  min-width: 40%;
  /* border: 1px solid black; */
}

.login-form {
  min-width: 80%;
  background-color: #f72121;
  border-radius: 8px;
  box-shadow: 0 0 10px 8px #f7b1b1;
  padding: 60px 1.25em;
  gap: 20px;
  /* border: 1px solid black; */
}

.input-holder {
  display: grid;
  grid-template-columns: 100px 1fr;
  justify-items: center;
  align-items: center;
}

.form-label {
}

.form-input {
  font-family: inherit;
  width: 100%;
  border-radius: 5px;
  padding: 5px 10px;
}

.form-label,
.form-input {
  font-size: 0.9em;
}

.btn {
  font-size: 1em;
  background-color: white;
  font-family: inherit;
}

.btn:hover {
  background-color: #fa5b5b;
  color: white;
  border: 1px solid #dadada;
}

.btn-lg {
  width: 100%;
}

.form-input,
.btn-lg {
  border-radius: 5px;
  border: 1px solid grey;
  height: 40px;
}
