.container {
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .container {
    font-size: 0.9rem;
  }
}

.uploadModal,
.uploadInner {
  border-radius: 10px;
  gap: 20px;
}

.uploadModal {
  height: 80%;
  width: 80%;
  border: 1px solid #b1b1b1;
  background-color: white;
  box-shadow: 0 0 30px 5px #f71212;
  padding: 10px;
}

@media screen and (max-width: 425px) {
  .uploadModal {
    height: 70%;
    width: 90%;
  }
}

.uploadInner {
  padding: 10px;
  padding: 10px 10px 30px;
  width: 100%;
  height: 100%;
  background-color: white;
  /* border: 1px solid #707070; */
}

.navHeader {
  padding: 10px 0 0;
  gap: 30px;
}

.cancelBtn {
  /* border: 1px solid black; */
  align-self: start;
  cursor: pointer;
  font-size: 1.2em;
}

.cancelBtn:hover {
  color: #f71212;
}

.picBrowser,
.files {
  border: 1px solid #9c9c9c;
  flex-grow: 2;
}

.picBrowser {
  cursor: pointer;
  background-color: #e6e6e6;
  transition: all 0.5s ease-in-out;
  color: #b1b1b1;
  text-align: center;
}

.picBrowser:hover {
  background-color: #ee4545;
  color: white;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 425px) {
  .picBrowser {
    background-color: #ee4545;
    color: white;
  }
}

.files {
  padding: 15px;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.fileItem {
  height: 200px;
  border: 1px solid #c4c3c3;
  border-radius: 8px;
  gap: 10px;
  padding: 10px;
}

.deletePic {
  cursor: pointer;
  font-size: 1.2em;
  align-self: end;
  /* border: 1px solid black; */
}

.deletePic:hover {
  color: #f71212;
}

.selectedPic {
  /* border: 1px solid black; */
  object-fit: cover;
  height: 70%;
  width: 70%;
}

.fileName {
  word-break: break-all;
}

@media screen and (max-width: 425px) {
  .browserHeader {
    font-size: 1.3em;
  }

  .icon {
    font-size: 1em;
  }
}

.icon {
  font-size: 3em;
  margin-top: 30px;
}

@media screen and (max-width: 425px) {
  .icon {
    margin-top: 10px;
    font-size: 2em;
  }
}

.uploadBtn,
.btn {
  background-color: #e6e6e6;
  border-radius: 5px;
  border: 1px solid #b6b4b4;
}

.uploadBtn:hover,
.btn:hover {
  background-color: #f71212;
  border: none;
  color: white;
  box-shadow: 0 0 5px 2px grey;
}

.uploadBtn {
  min-height: 40px;
}

.btnGroup {
  gap: 30px;
  /* border: 1px solid black; */
}

@media screen and (max-width: 425px) {
  .btnGroup {
    gap: 10px;
  }
}

.btn {
  text-align: center;
  min-height: 30px;
  font-family: inherit;
  gap: 10px;
  padding: 0 10px;
}

@media screen and (max-width: 425px) {
  .btnText {
    display: none;
  }
}

.btnIcon {
  font-size: 1.2em;
}
